<nav class="navbar">
  <div class="navbar-dropdown">
    <div class="dropdown-icon"></div>
    <ul class=" navbar-links">
      <li><%= link_to 'Home', root_path %></li>  
      <li><%= link_to 'Progress', root_path %></li>  
      <li><%= link_to 'Sessions', root_path %></li>  
      <li><%= link_to 'My Profile', root_path %></li>  
      <li>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete if current_user %>
        <%= link_to 'Sign In', new_user_session_path unless current_user %>
      </li>
    </ul>
  </div>
</nav>
